<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_creacion.css') }}">
    <title>Creación de Sándwich</title>
</head>

<body>

    <div class="cabecera">
        <div class="titulo">
            <h1> &#129386; Creación de Sandwiches &#129386;</h1>
        </div>
    </div>

    <div class="contenido">

        <div class="ingredientes">
            <h2> Elige los ingredientes que quieres añadir a tu sándwich:</h2><br>

            <div class="lista-ingredientes">
                {% for ingrediente, detalle in ingredientes.items() %}
                <div class="ingrediente-item">
                    <div class="ingrediente-info">
                        <img src="{{ url_for('static', filename='images/' + ingrediente + '.png') }}" alt="{{ ingrediente }}" class="ingrediente-img">
                        <div class="info-texto">
                            <h3>{{ ingrediente }}</h3>
                            <p>Precio: {{ detalle.precio }}€</p>
                        </div>
                    </div>
                    <button class="btn agregar" onclick="agregarIngrediente('{{ ingrediente }}')">Añadir al sándwich</button>
                </div>
                {% endfor %}
            </div>

        </div>

        <div class="botones-finales">
            <button class="btn terminar" onclick="terminarSandwich()">Terminar sándwich</button>
            <button class="btn volver" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú</button>
        </div>

    </div>

    <script>
        let ingredientesSeleccionados = [];
    
        function agregarIngrediente(ingrediente) {
            alert('¡Has añadido ' + ingrediente + ' al sándwich!');
            ingredientesSeleccionados.push(ingrediente);
        }
    
        function terminarSandwich() {
            alert('¡Sándwich terminado! ¿Quieres guardar tu creación?');

            fetch("/terminar_sandwich", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    ingredientes: ingredientesSeleccionados
                })
            })
            .then(response => {
                if (response.ok) {
                    alert("Sándwich guardado con éxito!");
                    window.location.href = "{{ url_for('registro') }}";
                } else {
                    alert("Hubo un error al guardar el sándwich.");
                }
            });
        }
    </script>

</body>

</html>