<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_ingredientes.css') }}">
    <title>Ingredientes Actuales</title>
</head>
<body>
    <div class="cabecera">
        <div class="titulo">
            <h1> &#129386; Ingredientes Disponibles &#129386;</h1>
        </div>
    </div>
    <div class="contenido">
        <h2> Ingredientes actuales:</h2><br>
        <div class="ingredientes">
            {% for nombre, ingrediente in ingredientes.items() %}
                <p>{{ ingrediente.get_nombre() }} - {{ ingrediente.get_precio() }}€</p>
            {% endfor %}
        </div>

        <div class="botones-finales">
        <button class="btn volver" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú</button>
        </div>

    </div>
</body>
</html>