<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_registro.css') }}">
    <title>Registro de Sandwiches</title>
</head>

<body>

    <div class="cabecera">
        <div class="titulo">
            <h1> &#129386; Registro de Sandwiches &#129386;</h1>
        </div>
    </div>

    <div class="contenido">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fecha</th>
                    <th>Ingredientes</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for compra in compras %}
                <tr>
                    <td>{{ compra.id }}</td>
                    <td>{{ compra.timestamp }}</td>
                    <td>
                        {% for ingrediente in compra.sandwich.get_ingredientes() %}
                        {{ ingrediente.get_nombre() }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ compra.sandwich.get_total() }}€</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="botones-finales">
            <button class="btn volver" onclick="window.location.href='{{ url_for('index') }}'">Volver al menú</button>
        </div>
    </div>

</body>

</html>
